body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: gray;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
  font-size: 24px;
}

.folder {
  cursor: pointer;
  padding: 5px;
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  width: calc(100% - 20px);
}

.folder:hover {
  background-color: #f1f1f1;
}

.content {
  padding-left: 20px;
}

.file {
  padding: 5px 20px;
  margin: 2px 0;
  background-color: #fafafa;
  border: 1px solid #eee;
  border-radius: 4px;
  display: inline-block;
  width: calc(100% - 40px);
}

.file:hover {
  background-color: #f1f1f1;
}
